<div class="row">
    
    <div class="col-md-12">
        <div class="hero-unit">
    <img class="pull-left" src="@Url.Content("~/Content/logo@2x.png")" width="128" height="128">
    <h1>Cognition</h1>
    <p class="lead">Work in progress.</p>
</div>
    </div>

</div>
