@using Cognition.Shared.DynamicTypes
@model Cognition.Shared.DynamicTypes.DynamicTypeDefinition

@{
    ViewBag.Title = "Edit Dynamic Type";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditType","Admin",FormMethod.Post, new { @class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_TypeForm", Model)

    <br /><br />
    <button type="submit" class="btn btn-primary">Save</button>
}



@section scripts
{
   @Html.Partial("_TypeScripts")

}
