@model Cognition.Shared.Documents.Document
@{
    ViewBag.PageTitle = "Create new " + Model.GetFullName();
}

<h1>@ViewBag.PageTitle</h1>

@using (Html.BeginForm("Create","Document",FormMethod.Post, new { @class="form-horizontal"}))
{
<fieldset>
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Type)
    
    @Html.EditorForModel("DocumentDefault")
    
    <button type="submit" class="btn btn-primary">Create</button>
</fieldset>
}


