@model Cognition.Shared.Documents.Document
@{
    ViewBag.Title = "Create new " + Model.GetFullName();
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Type)
    
    @Html.EditorForModel("DocumentDefault")
    
    <button type="submit" class="btn btn-primary">Create</button>
}

