@model Cognition.Web.ViewModels.DocumentListViewModel

@{
    ViewBag.Title = Model.TypeFullName + " List";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create new " + Model.TypeFullName, "Create", new {type = Model.TypeName}, new {@class = "btn btn-primary"})
<br /><br />
@foreach (var document in Model.Documents)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink(document.Title, "Index", new {id = document.Id, type = document.Type})
        </div>
    </div>
}
